tibco_samples/FintechTransactionProcessor/schemas/ErrorPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ErrorPayload">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errorCode" type="xs:string"/>
                <xs:element name="errorMessage" type="xs:string"/>
                <xs:element name="transactionId" type="xs:string"/>
                <xs:element name="timestamp" type="xs:dateTime"/>
                <xs:element name="details" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
