tibco_samples/FintechTransactionProcessor/schemas/Transaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Transaction">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="transactionId" type="xs:string"/>
                <xs:element name="amount" type="xs:decimal"/>
                <xs:element name="currency" type="xs:string"/>
                <xs:element name="timestamp" type="xs:dateTime"/>
                <xs:element name="sourceAccount" type="xs:string"/>
                <xs:element name="destinationAccount" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
